%p#notice= notice

%p
  %b Title:
  = @question.title
%p
  %b Body:
  = @question.body
%p
  %b User:
  = @question.user

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
