%h1 Listing answers

%table
  %thead
    %tr
      %th Status
      %th Body
      %th User
      %th Question
      %th
      %th
      %th

  %tbody
    - @answers.each do |answer|
      %tr
        %td= answer.status
        %td= answer.body
        %td= answer.user
        %td= answer.question
        %td= link_to 'Show', answer
        %td= link_to 'Edit', edit_answer_path(answer)
        %td= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Answer', new_answer_path
